/AdminOps/
/SecOps/
/WebOps/
/instructor_materials/collections/*
!/instructor_materials/collections/requirements.yml
/instructor_materials/REinstructor-inventory
/instructor_materials/instructor-inventory
